* {
    margin: 0;
    padding: 0;
    font-family: 'NotoSans';
}

body {
    background-color: $white-creamy;
}

@font-face {
    font-family: 'NotoSans';
    src: url(./fonts/Noto_Sans/NotoSans-Regular.ttf);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: transparent;
    user-select: none;
}

// TEXT COLORS

@each $name, $color in $colors {
    .text#{$name} {
        color: $color;
    }
}

// TEXT ALIGN

@each $side in $sides {
    .text#{$side} {
        text-align: $side;
    }
}

.capslock {
    text-transform: uppercase;
}

.hidden {
    visibility: hidden;
}

.noneDisplay {
    display: none;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
    border-radius: 2rem;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.125rem;
}
h4 {
    font-size: 0.84rem;
}
h5 {
    font-size: 0.63rem;
}
h6 {
    font-size: 0.47rem;
}
