$green: #c1b39e;
$green-light: #d6c7b7;
$green-dark-mid: #a6917c;
$green-dark: #594f4b;
$white-creamy: #f7f4eb;
$white: white;
$yellow-light: #fffdf5;
$red: #ff6961;

$width-tablet: 768px;

$colors: (
    'green': #c1b39e,
    'greenlight': #d6c7b7,
    'greendarkmid': #a6917c,
    'greendark': #594f4b,
    'whitecreamy': #f7f4eb,
    'white': white,
    'yellowlight': #fffdf5,
    'red': #ff6961,
);

$sides: (left, right, center, justify);
