$green: #7e8d85;
$green-light: #b3bfb8;
$green-dark-mid: #506255;
$green-dark: #3c493f;
$white-creamy: #f0f7f4;
$white: white;
$mint: #a2e3c4;
$yellow-light: #fffdf5;

$width-tablet: 768px;

$colors: (
    'green': #7e8d85,
    'greenlight': #b3bfb8,
    'greendarkmid': #506255,
    'greendark': #3c493f,
    'whitecreamy': #f0f7f4,
    'white': white,
    'mint': #a2e3c4,
    'yellowlight': #fffdf5,
);

$sides: (left, right, center, justify);
