.wrapperwidth {
    @include sizes(100%, fit-content);
    display: grid;
    place-content: center;
    &-child {
        @include sizes(100vw, fit-content, 1280px);
        box-sizing: border-box;
        padding: 0 2rem;
    }
}