.appointmentapproval {
    @include sizes(100%, 100vh);
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    overflow: visible;
    z-index: 2;
    &-dups {
        position: sticky;
        top: 0;
        @include sizes(100%, 100vh);
    }
}
