.CEOProfile {
    @include grid(column, $column-gap: 0);
    margin: 6vh 0;
    &-placeholder {
        @include sizes(25vw, 25vw);
        position: relative;
        border: solid 5px $green-light;
        &__image {
            @include image;
        }
    }
}