.footer {
    @include sizes(100%, 42vh);
    background-color: $green-dark-mid;
    &-desktop {
        @include sizes(calc(100% - 4vw), calc(42vh - 30px));
        @include grid(column, $justify-content: space-between);
        position: relative;
        margin: {
            top: 20px;
            bottom: 10px;
            left: 2vw;
            right: 2vw;
        }
        &__bio {
            @include sizes(25vw, fit-content);
            @include grid(row, 3vh);
        }
        &__sites {
            height: fit-content;
            @include grid(row, 1.5vh);
            &--button {
                &-a {
                    background-color: $green;
                    padding: 8px 20px;
                    &:hover {
                        background-color: $green-dark;
                        transition: background-color 0.3s ease-in-out;
                    }
                }
            }
        }
        &__contact {
            @include grid(row, 2vh, $place-items: center);
            &--subsection {
                width: fit-content;
                @include grid(column, $column-gap: 10px);
                &-icon {
                    color: $yellow-light;
                }
            } 
        }

    }
}