.navbar {
    @include sizes(100%, 5vh);
    display: grid;
    place-content: center;
    background-color: $white;
    box-shadow: 0 2px 15px 2px opacify($color: $green-light, $amount: 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    &-desktop {
        @include grid(column, $justify-content: space-between);
        width: 100%;
        &__items {
            @include grid(column, $column-gap: 3vw);
            place-content: center;
            :hover {
                transition: color 0.3s ease-in-out;
                color: $green-light;
            }
        }
    }
}