.welcome {
    margin-bottom: 4vh;
    width: 100%;
    &-placeholder {
        position: relative;
        
    }
    &-gradient {
        @include sizes(100%, 60vh);
        background: $green-dark;
        opacity: 0.6;
        margin-top: -60vh;
    }
    &-text {
        @include grid(row, 3vh);
        position: absolute;
        margin-top: -30vh;
        margin-left: 2vw;
        h1 {
            font-size: 50px;
        }
    }
}