.benefit {
    @include grid(row, 0.5rem, $place-items: center);
    @include sizes(fit-content, fit-content, 15rem);
    &-icon {
        &__border {
            @include grid($place-items: center);
            @include sizes(6rem, 6rem);
            border-radius: 100%;
            border: solid 5px $green-dark;
            background-color: $green-light;
            &--image {
                @include sizes(4rem, 4rem);
                color: $green-dark;
            }
        }
    }
}
