.benefits {
    @include grid($row-gap: 3rem);
    margin-bottom: 4rem;
    &-items {
        @include flex(row, wrap);
        justify-content: space-around;
        row-gap: 2rem;
        place-items: center;
    }
}
