.appointment {
    &-loading {
        @include grid($justify-content: center);
        margin: 5vh 0;
    }
    &-content {
        &__panel {

        }
        &__data {
            @include grid(column, $column-gap: 2vw);
            position: relative;
            &--calendar {
                &-disabled {
                    font-size: 75%;
                    opacity: 80%;
                } 
                &-selected {
                    background-color: $green;
                    color: $white;
                    border-radius: 100%;
                    border: 2px $green-dark solid;
                    &:hover {
                        color: $white;
                        background-color: $green;
                    }
                }
                &-today {
                    font-weight: 700;
                    font-size: 90%;
                }
            }
            &--availabledates {
                @include grid(row, $place-items: center);
            }
        }
    }
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: $green-light !important;
}