.appointment {
    &-loading {
        @include grid($justify-content: center);
        margin: 5vh 0;
    }
    &-content {
        &__panel {

        }
        &__data {
            &--calendar {
                &-disabled {
                    font-size: 75%;
                    opacity: 80%;
                } 
            }
            &--availableDates {

            }
        }
    }
}