.CEOProfile {
    @include grid(column, $column-gap: 0);
    margin: 6vh 0;
    @media screen and (max-width: $width-tablet) {
        @include grid(row, 2vh);
    }
    &-placeholder {
        @include sizes(25vw, 25vw);
        position: relative;
        border: solid 5px $green-light;
        @media screen and (max-width: $width-tablet) {
            @include sizes(100%, 100%);
            padding-bottom: 100%;
            box-sizing: border-box;
        }
        &__image {
            @include image;
        }
    }
}
