.article {
    @include sizes(fit-content);
    @include grid(row, 2vh);
    margin: 4vh 0;
    position: relative;
    &-text {
        @include grid(row);
        place-self: center;
        width: 95%;
        line-height: 30px;
        margin-top: 0.5vh;
    }
}