.article {
    @include sizes(fit-content);
    @include grid(row, 2vh);
    margin: 4vh 0;
    position: relative;

    &-text {
        @include grid(row);
        place-self: center;
        padding-left: 2rem;
        line-height: 30px;
        margin-top: 0.5vh;

        @media screen and (max-width: $width-tablet) {
            padding-left: 0rem;
        }
    }
}
