.welcome {
    @include sizes(100%, fit-content);
    margin-bottom: 4vh;
    &-container {
        position: relative;
    }
    &-placeholder {
        @include sizes(100%, 30rem);
        @media screen and (max-width: $width-tablet) {
            @include sizes(100%, 20rem);
        }
    }
    &-gradient {
        @include sizes(100%, 30rem);
        background: $green-dark;
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        @media screen and (max-width: $width-tablet) {
            @include sizes(100%, 20rem);
        }
    }
    &-text {
        @include grid(row, 3vh);
        margin-top: -25rem;
        position: relative;
        z-index: 1;
        padding: 0 2rem;
        @media screen and (max-width: $width-tablet) {
            margin-top: -17rem;
            padding: 0;
        }
    }
}
