.welcome {
    @include sizes(100%, fit-content);
    margin-bottom: 2rem;
    @media screen and (min-width: $width-tablet) {
        h1 {
            font-size: 3rem;
        }
    }
    &-container {
        position: relative;
    }
    &-placeholder {
        @include sizes(100%, 25rem);
        @media screen and (max-width: $width-tablet) {
            @include sizes(100%, 20rem);
        }
    }
    &-gradient {
        @include sizes(100%, 30rem);
        background: $green-dark;
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        @media screen and (max-width: $width-tablet) {
            @include sizes(100%, 20rem);
        }
    }
    &-text {
        @include grid(row, 3vh);
        margin-top: -20rem;
        position: relative;
        padding: 0 2rem;
        @media screen and (max-width: $width-tablet) {
            margin-top: -17rem;
            padding: 0;
        }
        @media screen and (min-width: $width-tablet) {
            p {
                width: 35rem;
            }
        }
    }
}
