.counters {
    @include grid(column, $column-gap: 1rem);
    align-items: center;
    margin: 1rem 0;
    @media screen and (max-width: $width-tablet) {
        @include grid(row, 1.5rem);
        justify-content: center;
    }
}
