.appointment {
    &-loading {
        @include grid($justify-content: center);
        margin: 5vh 0;
    }
    &-content {
        &__panel {
            @include flex(row, wrap, 1vw, 1vw);
            @media screen and (max-width: $width-tablet){
                @include grid(row, $row-gap: 1vw);
            }
            &--button {
                padding: 0.1em 1em;
                border: solid 2px $green-dark;
                border-radius: 0.1em;
            }
        }
        &__data {
            @media screen and (max-width: $width-tablet){
                @include grid(row, 2vw);
            }
            @include grid(column, $column-gap: 8rem);
            @include sizes(fit-content, fit-content);
            position: relative;
            &--calendar {
                &-disabled {
                    font-size: 75%;
                    opacity: 80%;
                }
                &-selected {
                    background-color: $green;
                    color: $white;
                    border-radius: 100%;
                    border: 2px $green-dark solid;
                    &:hover {
                        color: $white;
                        background-color: $green;
                    }
                }
                &-today {
                    font-weight: 700;
                    font-size: 90%;
                }
            }
            &--availabledates {
                @include sizes(fit-content, fit-content);
                @include grid(row, 3vh);
                padding-top: 4rem;
                &-item {
                    @include grid(column, $column-gap: 1rem);
                    &__button {
                        padding: 0 0.5rem;
                    }
                }
            }
        }
    }
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: $green-light !important;
}