.benefit {
    @include grid(row, 1vh, $place-items: center);
    max-width: 15vw;
    &-icon {
        &__border {
            @include grid($place-items: center);
            @include sizes(8vw, 8vw);
            border-radius: 100%;
            border: solid 5px $green-dark; 
            background-color: $green-light;
            &--image {
                @include sizes(5vw, 5vw);
                color: $green-dark;
            }
        }
    }
}