.counter {
    @include grid(row, 2vh);
    height: fit-content;
    &-text {
        margin-left: 4vw;
    }
    &-headline {
        @include grid(column, $column-gap: 0.5vw);
        &__text {
            color: $green-dark;
            font-size: 30px;
            text-align: left;
            width: 100%;
        }
        &__placeholder {
            @include sizes(3vw, 3vw);
            position: relative;
            &--image {
                @include icon;
            }
        }
    }
}