$green: #7E8D85;
$green-light: #B3BFB8;
$green-dark-mid: #506255;
$green-dark: #3C493F;
$white-creamy: #F0F7F4;
$white: white;
$mint: #A2E3C4;
$yellow-light: #fffdf5;

$width-tablet: 768px;

$colors: (
    "green": #7E8D85,
    "greenlight": #B3BFB8,
    "greendarkmid": #506255,
    "greendark": #3C493F,
    "whitecreamy": #F0F7F4,
    "white": white,
    "mint": #A2E3C4,
    "yellowlight": #fffdf5,
);

$sides: (
    left, 
    right,
    center,
    justify,
);